<?xml version="1.0" encoding="UTF-8"?>
<project-modules id="moduleCoreId" project-version="1.5.0">
	<wb-module deploy-name="BmiCalculator">
		<wb-resource deploy-path="/" source-path="/WebContent"
			tag="defaultRootSource" />
		<wb-resource deploy-path="/WEB-INF/classes" source-path="/src" />
		<property name="context-root" value="BmiCalculator" />
		<property name="java-output-path" value="/BmiCalculator/build/classes" />
	</wb-module>
</project-modules>
